.main-page {
    margin-left: 240px;
    background-color: $color-bacground-main-page;
    padding: 0;
}

.main-page-content {
    margin-top: 60px;
}

.main-page-title {
    justify-content: flex-start;
    
    margin-bottom: 20px;
    width: 80%;
}
.main-page-box {
    margin: 10px;
    background-color: $color-light;
    box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.65);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;
    width: auto;
   
}

.form {
    height: 100px;
    align-items: center;
    justify-content: center;

    .form-wrapper {
        display: flex;
        border: none;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        padding: 0 10px;
    }
  }

  .info-table {
        align-items: flex-end;
        justify-content: center;

    .info-table-item {
        padding: 0;
        align-items: flex-end;
        justify-content: space-between;
      
        margin: 0 30px;
    }
  }

  .chart {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 50px 0;
  }
  .chart-image-wrapper {
      display: flex;
      justify-content: center;
      margin: auto;
      
      .chart-image {
        object-fit: cover;
        height: 300px;
        width: 500px;    
      }
  }
  .links-list {
      width: 60%;
      

      .links-list-item {
        align-items: center;
        justify-content: space-between;
        position: relative;

        p {
            width: 25%;
        }
       
        .links-link {
            color: $color-link-bluish;
            margin-left: 40%;
            position: absolute;

        }

        .icon-wrapper { 
            visibility: hidden;
        }

        &:hover {
            background-color: $color-light-grey;
            cursor: pointer;

            .icon-wrapper { 
                visibility: visible;

                .icon-links {
                    filter: invert(69%) sepia(82%) saturate(3146%) hue-rotate(1deg) brightness(107%) contrast(103%);
                }

                .icon-trash {
                    filter: invert(53%) sepia(88%) saturate(18%) hue-rotate(322deg) brightness(94%) contrast(95%);

                }
            }
        }

      
    }
  }



  



  
