@media (max-width: 767px) {
   .sidebar {
    position: fixed;
    left: 0;
    transition: 0.5s ease;
    transform: translateX(-75%);

    h1, a{
        visibility: hidden;
    
    }

    .fa-bars {
        margin-right: 8px;
    }

   }

   .fa-bars {
       margin-right: 3px;
   }

   .reveal {
    transform: translateX(+0%);

    h1, a {
        visibility: visible;
    }
   }
   .sidebar-title {}
}