.sidebar {
    background-color: $paragraph-color;
    height: 100%;
    width: 200px;
    color: $color-light;
    position: fixed;
    padding: 15px 0;
    z-index: 99;

    .sidebar-list-elem:hover{
        background-color: $color-orabnge-light;
        color: honeydew;
    }

    .sidebar-header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        
        .sidebar-hamburger {
            cursor: pointer;
        }
       
    }
    .mobile-sidebar {
        display: none;
    }
    .sidebar-links {
        width: 100%;
        justify-content: space-evenly;

        .sidebar-list {
            list-style: none;
            width: 100%;
            padding-left: 0;
            display: flex;
            flex-direction: column;

            .sidebar-list-elem {
                display: flex;
                align-items: center;
                justify-content: center;

                .sidebar-link {
                    display: flex;
                    filter: invert(43%) sepia(4%) saturate(23%) hue-rotate(349deg) brightness(100%) contrast(86%);
                    text-decoration: none;
                    width: 100%;
                    text-decoration: none;
                }
            }           
        }
    }

    .sidebar-chat {
        display: flex;
        flex-direction: column;
        text-align: center;

    

        .sidebar-chat-details {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            
            .chat-person-name {
                color: $color-link-bluish;
            }
           
        }

        .chat-person-img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
        
        }
    }
}






