.main-page {
    margin-left: 240px;
}

.main-page__topbar {
    background-color: blue;
    height: 50px;
    position: fixed;
    width: 100%;
}

.main-page__content {
    margin-top: 50px;
    background-color: lightgreen;
}

.main-page__box {
    height: 300px;
    margin: 10px;
    background-color: grey;
    border-style: dashed;
}